footer {
    background-color: #d2d7dd;
    border-top: 5px solid black;
    color:black;
    padding-top: 20px;
    position: fixed;        
    height: 75px;
    bottom: 0;
    width: 100%;
    text-align: center;
}